
@{
    ViewData["Title"] = "EliminarEquipoForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-warning" role="alert">
  Está seguro que desea eliminar a la Equipo: @ViewBag.Nombre ?
</div>
<form asp-action="BorrarEquipo" asp-controller="Equipo">
    <input type="hidden" id="id" name="id" value="@ViewBag.Id" />
    <button type="submit" class="btn btn-success"> Si </button>
    <a class="btn btn-outline-primary float-right" asp-action="Index">
        No
    </a>
</form>


